/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Fira Sans", sans-serif;
  color: #422b1f;
}

a {
  color: #422b1f;
  text-decoration: none;
}
